/* Basic Styles */
.skeleton {
  background-color: #ddd;
  border-radius: 4px;
}

.skeleton.text {
  width: 88%;
  height: 12px;
  padding: 5px 10px;
  margin: 10px auto;
}

.skeleton.title {
  width: 50%;
  height: 30px;
  padding: 5px 20px;
  margin: 30px 10px 10px 20px;
}

.skeleton.image {
  width: 100%;
  height: 220px;
}

.skeleton.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.skeleton.thumbnail {
  width: 100px;
  height: 100px;
}

.skeleton.kategori {
  width: 70px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.skeleton-wrapper {
  height: 400px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* skeleton profile */
.skeleton-profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
}

/* themes */
.skeleton-wrapper.light {
  background-color: #f2f2f2;
}

.skeleton-wrapper.dark {
  background-color: #444;
}

.skeleton-wrapper.dark .skeleton {
  background-color: #777;
}

/* Shimmer animation effect */
.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 1s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
}

.dark .shimmer {
  background: rgb(255, 255, 255, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
